<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>test</title>

	 <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min" rel="stylesheet">
	
</head>

<body>
	
	<div class="container">
	
	{% block content %}
	{% endblock %}
	
	</div>
	
	<!-- JQuery -->
	<script src="jquery/jquery-3.0.0.min"></script>
	<!-- Javascript files -->
	<script src="js/bootstrap.min.js"></script>
</body>

</html>